body {
  font-family: "Lato", sans-serif;
}

/*
main {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23007bff' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}
*/
main {
  background-image: url("../assets/images/background-01.png");
}

h1, h2, h3 {
  color: #17a2b8;
}

html {
  scroll-behavior: smooth;
}

.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.social {
  background-color: #007bff;
  display: flex;
}
.social .social__media {
  display: flex;
  justify-content: space-between;
}
.social .social__media ul {
  display: inline-flex;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  list-style: none;
}
.social .social__media li {
  margin-right: 1.5em;
}
.social .social__media i {
  color: white;
  font-size: 16px;
}

.bg-light {
  background-color: white !important;
}

.navbar {
  background-color: white;
}
.navbar-brand {
  height: 100%;
}
.navbar-brand a {
  color: #17a2b8;
  font-weight: bold;
}
.navbar-brand a:hover {
  text-decoration: none;
}
.navbar i {
  color: #007bff;
}
.navbar-nav li.nav-item {
  margin-right: 0.5em;
}
.navbar-nav a {
  color: #007bff;
}
.navbar-nav li a:hover {
  color: #17a2b8;
  border-bottom: 1px solid #17a2b8;
}
.navbar-nav .navbar-collapse {
  background-color: #007bff;
}
.navbar-nav .special-nav-item {
  border-radius: 5px;
  background-color: #17a2b8;
}
.navbar-nav .special-nav-item a {
  color: white;
}
.navbar-nav .special-nav-item:hover {
  border-bottom: none;
}

#carousel .carousel-item img {
  height: 50vh;
  object-fit: cover;
  object-position: 50% 50%;
}

.carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 20%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.carousel-caption .container {
  text-align: right;
}
.carousel-caption .container .overlay-content p {
  font-size: 1.5em;
  margin: 0;
}

#nosotros .container {
  background-color: white;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 0.5em;
}

.nosotros__logo img {
  width: 80%;
}
.nosotros__info a {
  color: white;
}
.nosotros__info a:hover {
  color: white;
}

#oferta-educativa .container {
  background-color: white;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 0.5em;
}

.card-title-custom {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.card-title-custom .text-center {
  margin-bottom: 0;
}

footer {
  padding: 16px;
  color: white;
  background-color: #004a99;
}